<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>%pagetitle%</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <link rel="stylesheet" href="%designrelpath%/bootstrap.min.css" media="screen">

    <link rel="stylesheet" href="%designrelpath%/custom.min.css">
    
    <!-- for IE < v9 you may need html5shiv.js and respond.min.js, see bootstrap site -->
    
    <!-- Custom styles for this template -->
    <link href="%designrelpath%/mycss.css" rel="stylesheet"
    
    <!-- Jquery and JS -->
    <script src="%designrelpath%/jquery-1.11.1.min.js"></script>
    <script src="%designrelpath%/bootstrap.min.js"></script>
    <script src="%designrelpath%/custom.js"></script>
    <script src="%baserelpath%/js_addons/ourstuff.js"></script>
    
    
    <!-- Custom Fonts -->
    <link href="%designrelpath%/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    
    
</head>

<body>

    %menu%
    
    <div class="container">
        <div class="row">
            <div class="col-sm-7 hidden-xs">
                <h3 class="bottom-align-text">%apptitle% - %appsubtitle%</h3>
            </div>
            <div class="col-sm-5  hidden-xs">
            </div>
        </div>  
    </div>        