
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="bs-component">
                <ul class="nav nav-tabs">
                    <li class="%active1%"><a href="#tab1" data-toggle="tab">%tab1title%</a></li>
                    <li class="%active2% "><a href="#tab2" data-toggle="tab">%tab2title%</a></li>
                    <li class="%active3%"><a href="#tab3" data-toggle="tab">%tab3title%</a></li>
                    <li class="%active4%"><a href="#tab4" data-toggle="tab">%tab4title%</a></li>
                </li>
               </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade %active1% in" id="tab1">
                        %tab1content%
                        <input type="hidden" name="tabnum" value="4">
                    </div>
                    <div class="tab-pane fade %active2%  in" id="tab2">
                        %tab2content%
                        <input type="hidden" name="tabnum" value="4">
                    </div>
                    <div class="tab-pane fade %active3% in" id="tab3">
                        %tab3content%
                        <input type="hidden" name="tabnum" value="4">
                    </div>
                    <div class="tab-pane fade %active4% in " id="tab4">
                        %tab4content%
                        <input type="hidden" name="tabnum" value="4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>