    
	<div class="container">
      <hr>
      <div class="row">
        <div class="col-md-4">
          <h2>%itid%</h2>
          <h4>Emergency: %it_emergency%</h4>
        </div>
        <div class="col-md-4">
          <h4>Title : %it_title%</h4>
          <h4>Project : %it_projid%</h4>
          <h4>Status : %it_statusid%</h4>
          <h4>Assigned to : %it_assignedtoid%</h4>
          
          <h4>Date changed : %it_datechanged%</h4>          
        </div>
        <div class="col-md-4">
          <h4>Text : </h4>
          <p> %it_text%</p>
        </div>
        
    </div> 
   </div> 
