
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">ENTRYFIELD</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            %menus%
            <!--
            <li><a href="contact.html">CONTACT</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">PAGES <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="blog.html">BLOG</a></li>
                <li><a href="single-post.html">SINGLE POST</a></li>
                <li><a href="portfolio.html">PORTFOLIO</a></li>
                <li><a href="single-project.html">SINGLE PROJECT</a></li>
              </ul>
            </li>
            -->
          </ul>
        </div>
      </div>
    </div>

	<!-- *****************************************************************************************************************
	 HEADERWRAP
	 ***************************************************************************************************************** -->
	<!--
    <div id="headerwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-4 col-lg-offset-8">
                    <br>
					<h3>Entryfield</h3>
					<h5><i>A hand crafted PHP framework</i></h5>
				</div>
			</div>
	    </div>
	</div>
    -->

	<!-- *****************************************************************************************************************
	 SERVICE LOGOS
	 ***************************************************************************************************************** -->
     <div id="service">
	 	<div class="container">
 			<div class="row centered">
 				<div class="col-sm-3">
 					<i class="fa hidden-xs">ef</i><i class="fa fa-puzzle-piece fa-rotate-45 hidden-xs"></i>
                    <p>Yet another PHP framework</p>
                </div>                    
 				<div class="col-sm-3">
 					<i class="fa fa-x2 fa-heart-o hidden-xs"></i>
 					<h4>DISCOVER</h4>
                    <p>
                    <a>Getting started</a> <br>
 					<a>Example application</a> <br>
                    <a>Reference documentation</a>
                    </p>
 				</div>
 				<div class="col-sm-3">
 					<i class="fa fa-x2 fa-download hidden-xs"></i>
 					<h4>DOWNLOAD</h4>
 					<p><a>Download to give a trial</a></p>
 				</div>                
 				<div class="col-sm-3">
 					<i class="fa fa-envelope hidden-xs"></i>
 					<h4>CONTACT</h4>
 					<p><a>Want to know more ? <br>
                     Drop a mail at <script language="JavaScript"> liamto("dleifyrtne",""); </script></a></p>
 				</div>                 		 				
	 		</div>
 			<div class="row centered">
                Please notice that some links are not effective today.
                Feel free to keep in touch, write at   
                <a><script language="JavaScript"> liamto("dleifyrtne",""); </script></a>
            </div>
	 	</div>
	 </div>
